[submodule "python-nyct-gtfs"]
	path = python-nyct-gtfs
	url = https://github.com/Andrew-Dickinson/nyct-gtfs.git
[submodule "google-transit"]
	path = google-transit
	url = https://github.com/google/transit.git
	branch = master
[submodule "postgis-gtfs-importer"]
	path = postgis-gtfs-importer
	url = https://github.com/mobidata-bw/postgis-gtfs-importer.git
	branch = v7
